<%= component_controller do %>
<div class="bg-base-200 text-base-content p-3">
  <div class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold"><%= @title %></h1>
        <p class="subtitle">
          <%= subtitle %>
        </p>
      </div>
    </div>
  </div>

  <div class="mockup-window border border-base-300">
    <div class="px-4 py-16 border-t">
      <%= content %>
    </div>
  </div>

  <div class="tabs tabs-boxed">
    <ul>
      <% @components.each do |component| %>
      <%= reflex_tag :select_component, :li, nil, class: component_class(component), data: { component: component } do %>
      <a>
        <%= component.humanize %>
      </a>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>