<%= component_controller do %>
<div
    class="mt-16 overflow-y-auto shadow-2xl top-px dropdown-content h-96 w-52 rounded-b-box bg-base-200 text-base-content">

    <ul class="menu bg-base-100 w-56 rounded-box">
        <% themes.each do |theme| %>
        <li>
            <a 
                data-reflex="click->ThemeChangeComponentReflex#set_theme" 
                data-value="<%= theme %>" 
                tabindex="0"
                data-key="<%= key %>"
                data-action="click->ThemeChangeComponentReflex#hand_theme"
            >
                <%= theme %>
            </a>
            <!-- <%= reflex_tag(
                :hand_theme,
                :a,
                "#{theme}",
                tabindex: "0"
            ) %> -->
           
        </li>
        <!-- <li>
            <a tabindex="0" data_action=" click->theme#switch" data_theme_value="light">light</a>
        </li> -->
    </ul>
    <% end %>
</div>
<% end %>