<!DOCTYPE html>
<html>

<head>
  <title>StimulusReflexTodo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <div
    class="flex flex-col min-h-screen bg-gradient-to-br from-primary to-secondary lg:bg-tertiary lg:from-inherit lg:to-inherit">
    <div class="mockup-window bg-base-300">
      <%= component "head_line" %>
      <%= yield %>
      <%= component "footer" %>
    </div>
  </div>
</body>

</html>